* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
}

body,
div,
article,
aside,
footer,
header,
main,
nav,
section,
ul,
ol,
li,
button,
figure,
picture,
hr,
form {
    display: flex;
}

body {
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
}

#body {
    #modal {
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;

        &.modal {
            opacity: 1;
            pointer-events: auto;
            z-index: 9999;
            -webkit-transition: opacity 500ms ease-in;
            -moz-transition: opacity 500ms ease-in;
            transition: opacity 500ms ease-in;
        }

        .container {
            flex-direction: column;
            position: relative;
            align-items: center;
            width: 320px;
            height: 95%;
            background-color: var(--white);
            overflow-y: auto;

            form {
                flex-direction: column;
                justify-content: space-around;
                width: 80%;

                .col {
                    flex-direction: column;
                    h2 {
                        margin: 0;
                    }
                }

                label {
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 5px;
                }

                input {
                    height: 30px;
                    padding: 5px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid var(--gray-2);
                    background-color: var(--gray-2);
                    font-size: 16px;
                }

                select {
                    height: 50px;
                    padding: 5px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid var(--gray-2);
                    background-color: var(--gray-2);
                    font-size: 16px;
                }

                textarea {
                    border: 1px solid var(--gray-2);
                    outline: none;
                    background-color: var(--gray-2);
                }

                input[type="file"] {
                    display: none;
                }

                .upload-image {
                    display: flex;
                    width: 50%;
                    margin: 0 auto;
                    flex-direction: column;
                    align-items: center;
                    //background-color: var(--blue-5);
                    color: var(--blue);
                    cursor: pointer;
                    //background-color  : blueviolet;
                }

                small {
                    margin: 0 auto;
                }
            }

            img {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }

        .modal:target {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.alert-danger {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--alert-danger-text);
    border: 1px solid var(--alert-danger-border);
    background-color: var(--alert-danger);
}

.alert-success {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--alert-success-text);
    border: 1px solid var(--alert-success-border);
    background-color: var(--alert-success);
}

.btn {
    text-align: center;
    text-decoration: none;
    background-color: var(--blue-5);
    padding: 20px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: var(--space-10);
    margin-top: var(--space-20);
    color: var(--white);
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:hover {
        background-color: var(--blue);
        transition: 0.4s ease-in;
    }
}

.btn-edit {
    text-align: center;
    text-decoration: none;
    background-color: var(--green);
    padding: 15px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: var(--space-10);
    margin-top: var(--space-20);
    color: var(--white);
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:hover {
        background-color: var(--green-1);
        transition: 0.4s ease-in;
    }
}

.btn-destroy {
    text-align: center;
    text-decoration: none;
    background-color: var(--black-2);
    padding: 15px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: var(--space-10);
    margin-top: var(--space-20);
    color: var(--white);
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: var(--black);
        transition: 0.2s ease-in;
    }
}

.btn-submit {
    justify-content: center;
    background-color: var(--blue-5);
    padding: 20px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: var(--space-10);
    margin-top: var(--space-20);
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:hover {
        background-color: var(--blue);
        transition: 0.4s ease-in;
    }
}

.btnCart {
    text-align: center;
    text-decoration: none;
    background-color: var(--green-1);
    font-size: 18px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    color: var(--white);
    transition-duration: 0.4s;

    &:hover {
        transition: 0.4s;
        background-color: var(--green);
    }
}

.divider-20 {
    width: 100%;
    height: 20px;
}

.title-pages {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--space-20);

    > h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
    }

    > hr {
        border: none;
        width: 100px;
        height: 2px;
        background-color: var(--blue);
    }
}

@media (min-width: 768px) {
    #body {
        #modal {
            .container {
                width: 90%;
                padding: 10px;
            }
        }
    }
}

@media (min-width: 1024px) {
    #body {
        #modal {
            .container {
                width: 90%;
                padding: 10px;

                form {
                    flex-direction: row;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    #body {
        #modal {
            .container {
                width: 80%;

                form {
                    flex-direction: row;
                    width: 100%;
                    .col {
                        width: 48%;
                    }
                }
            }
        }
    }
    .title-pages {
        h1 {
            font-size: 26px;
        }
    }
}

@media (min-width: 1920px) {
    #body {
        #modal {
            .container {
                width: 70%;
                height: 85%;

                form {
                    flex-direction: row;
                    width: 85%;
                    height: 90%;

                    input {
                        height: 40px;
                    }
                }
            }
        }
    }
    .title-pages {
        h1 {
            font-size: 32px;
        }
    }

    .btn-submit {
        font-size: 20px;
    }
}
