.header-admin {
    position: fixed;
    z-index: 10;
    width: 100%;
    min-width: 320px;
    height: 81px;
    justify-content: space-between;
    padding: var(--space-20);
    align-items: center;
    background-color: var(--blue);

    .logo {
        padding: 10px;
        border-radius: 50%;
        background-color: var(--blue-1);
        margin: 10% 6% 0%;
        border: 5px solid var(--white);
    }

    .menu-desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .header-admin {
        .logo {
            margin: 6% 6% 0%;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 1024px) {
    .header-admin {
        display: none;
    }
}

@media (min-width: 1440px) {
    .header {
        .menu-desktop {
            ul {
                li {
                    a {
                        font-size: 18px;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .header {
        .menu-desktop {
            ul {
                li {
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
