.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    min-width: 320px;
    height: 81px;
    justify-content: space-between;
    padding: var(--space-20);
    align-items: center;
    background-color: var(--blue);

    .logo {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: 16% 0px 0px 1%;
        z-index: 1;
        background-color: var(--blue);
        justify-content: center;
        align-items: center;
    }

    .menu-desktop {
        display: none;
    }
}

@media (min-width: 425px) {
    .header {
        .logo {
            width: 100px;
            height: 100px;
            margin: 12% 0px 0px 1%;
        }
    }
}

@media (min-width: 768px) {
    .header {
        .logo {
            width: 110px;
            height: 110px;
            margin: 6% 0px 0px 1%;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 1024px) {
    .header {
        justify-content: space-between;

        .logo {
            margin: 5% 0px 0px 1%;
        }

        .menu-mobile {
            display: none;
        }

        #btn-menu {
            display: none;
        }

        .menu-desktop {
            display: flex;
            margin-right: 10px;

            ul {
                padding: 0;
                margin: 0;

                li {
                    padding: 10px;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                        font-weight: 300;
                        transition-duration: 0.4s;
                    }

                    a:hover {
                        color: var(--gray);
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .header {
        height: 90px;

        .logo {
            width: 120px;
            height: 120px;
            margin: 4% 0px 0px 1%;
        }

        .menu-desktop {
            ul {
                li {
                    a {
                        font-size: 16px;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .header {
        height: 105px;

        .logo {
            width: 130px;
            height: 130px;
            margin: 3% 0px 0px 1%;
        }

        .menu-desktop {
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
