:root {
    --black: #000000;
    --black-2: #242424;
    --black-admin: #251f1f;
    --black-admin-over: #333232;
    --blue: #072b59;
    --blue-1: #041730;
    --blue-2: #3bacd9;
    --blue-3: #034f70;
    --blue-4: #0d0366;
    --blue-5: #3f6ca6;
    --blue-6: #1374f2;
    --darkblue: #483d8b;
    --darkblue-1: rgb(98, 87, 175);
    --white: #ffffff;
    --gray: #9c9c9c;
    --gray-1: #cccccc;
    --gray-2: #e3e3e3;
    --gray-bg: #f6f5f5;
    --green: #03a566;
    --green-1: #62b15f;
    --green-2: #078c03;
    --red: #791d16;
    --red-1: #94090d;

    --alert-danger: #f8d7da;
    --alert-danger-text: #721c24;
    --alert-danger-border: #f5c6cb;
    --alert-success: #d4edda;
    --alert-success-text: #155724;
    --alert-success-border: #c3e6cb;

    /*Spaces*/
    --space-5: 5px;
    --space-10: 10px;
    --space-20: 20px;
    --space-30: 30px;
}
